/src/.vs/Graphviz4Net/v14/*.suo
/src/UpgradeLog.htm
obj/
bin/
*.tokens
/src/packages/
/src/Backup1
/src/Backup
/src/UpgradeLog2.htm
src/Graphviz4Net.v12.suo
.vs/slnx.sqlite
src/.vs/Graphviz4Net/v15/.suo
src/.vs/Graphviz4Net/v15/sqlite3/storage.ide
.vs
*.bak
